<script>
    $(document).ready(function () {


        $('#Kesim_Türü_Düzenle_Modal_Button').click(function () {

            var x = {

                Id: $(this).attr('Kesim_Türü_Id'),
                Kesim_Türü_Txt: $('#Kesim_Türü_Düzenle_İnput').val()
            }

            $.ajax({
                url: 'api/Kesim/Kesim_Türü_Edit',
                type: 'POST',
                async: false,
                dataType: "json",
                data: JSON.stringify(x),
                contentType: "application/json; charset=utf-8",
                success: function (data) {

                    Kesim_Türleri_Doldur()


                },
                error: function (xhr, status, error) {
                    if (xhr.status == 200) {

                    }
                    else {
                        Swal.fire({
                            icon: 'error',
                            title: 'Talep Esnasında Bir Hata Oluştur',
                            text: '' + xhr.status + '   ' + error.message,
                        })
                    }

                }
            });
            Kesim_Türleri_Doldur()


            $('#Kesim_Türü_Düzenle_Modal').modal('hide')
            $('#Parametre_Modal').modal('show')


        })


    })
</script>

<div class="modal fade" id="Kesim_Türü_Düzenle_Modal" tabindex="-100" role="dialog"
    aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="Uzunul_Ve_Genişlik_Zorluk_Düzenle_Modal_Header">Düzenle</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col">
                        <label for="">Kesim Türü :</label>
                        <input id="Kesim_Türü_Düzenle_İnput" class="form-control form-control" type="text"
                            placeholder="Kesim Türü Adı">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Kapat</button>
                <button type="button" id="Kesim_Türü_Düzenle_Modal_Button" class="btn btn-primary">
                    Kaydet
                </button>
            </div>
        </div>
    </div>
</div>


<script>
    $(document).ready(function () {
        $('#Kesim_Türü_Düzenle_Kesim_Bas_İnput').maskMoney()
        $('#Kesim_Türü_Düzenle_Kesim_Son_İnput').maskMoney()
        $('#Kesim_Türü_Düzenle_Birim_Fiyat_İnput').maskMoney()


        $('#Kesim_Detay_Düzenle_Button').click(function () {


            var x = {

                Id: $(this).attr('kesim_Id'),
                Kesim_mm_Bas: $('#Kesim_Türü_Düzenle_Kesim_Bas_İnput').maskMoney('unmasked')[0].toFixed(2),
                Kesim_mm_Son: $('#Kesim_Türü_Düzenle_Kesim_Son_İnput').maskMoney('unmasked')[0].toFixed(2),
                Kesim_Türü_Id: $(this).attr('kesim_Türü_Id'),
                Saat_Bası_Ucret: $('#Kesim_Türü_Düzenle_Birim_Fiyat_İnput').maskMoney('unmasked')[0].toFixed(2),
                Birim_Id: $('#Kesim_Düzenle_Birim_Select').find(':selected').attr('value'),
            }

            $.ajax({
                url: 'api/Kesim/Kesim_Edit',
                type: 'POST',
                async: false,
                dataType: "json",
                data: JSON.stringify(x),
                contentType: "application/json; charset=utf-8",
                success: function (data) {

                    var $table = $('#Kesim_Türü_Table_' + data.kesim_Türü_Id)
                    Kesim_Build_Table($table, 0, 0, data.kesim_Türü_Id)


                    $('#Kesim_Detay_Düzenle_Modal').modal('hide')
                    $('#Parametre_Modal').modal('show')



                },
                error: function (xhr, status, error) {
                    if (xhr.status == 200) {

                    }
                    else {
                        Swal.fire({
                            icon: 'error',
                            title: 'Talep Esnasında Bir Hata Oluştur',
                            text: '' + xhr.status + '   ' + error.message,
                        })
                    }

                }
            });
            $('#Kesim_Detay_Düzenle_Modal').modal('hide')
            $('#Parametre_Modal').modal('show')


        })


    })
</script>

<div class="modal fade" id="Kesim_Detay_Düzenle_Modal" tabindex="-100" role="dialog"
    aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="Uzunul_Ve_Genişlik_Zorluk_Düzenle_Modal_Header">Düzenle</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col">
                        <label for="">Kesim Bas :</label>
                        <input id="Kesim_Türü_Düzenle_Kesim_Bas_İnput" class="form-control form-control" type="text"
                            data-thousands="." data-decimal="," data-suffix=" mm" placeholder="Kesim Baş mm">
                    </div>
                    <div class="col">
                        <label for="">Kesim Son :</label>
                        <input id="Kesim_Türü_Düzenle_Kesim_Son_İnput" class="form-control form-control" type="text"
                            data-thousands="." data-decimal="," data-suffix=" mm" placeholder="Kesim Son mm">
                    </div>
                    <div class="col">
                        <label for="">Birim :</label>
                        <select name="" id="Kesim_Düzenle_Birim_Select" class="form-control"></select>
                    </div>
                    <div class="col">
                        <label for="">Birim Fiyat :</label>
                        <input id="Kesim_Türü_Düzenle_Birim_Fiyat_İnput" class="form-control form-control" type="text"
                            data-thousands="." data-decimal="," data-suffix=" ₺" placeholder="Birim Fiyat">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Kapat</button>
                <button type="button" id="Kesim_Detay_Düzenle_Button" class="btn btn-primary">
                    Kaydet
                </button>
            </div>
        </div>
    </div>
</div>
