<script>

    $(document).ready(function () {
        $('#Kesim_Türü_Ekle').click(function () {
            var x = {
                Id: 0,
                Kesim_Türü_Txt: $('#Kesim_Türü_İnput').val()
            }


            $.ajax({
                url: 'api/Kesim/Kesim_Türü_Add',
                type: 'POST',
                async: false,
                dataType: "json",
                data: JSON.stringify(x),


                contentType: "application/json; charset=utf-8",
                success: function (data) {

                    Kesim_Türleri_Doldur()
                    Malzeme_Kesim_Türü_Select_Doldur()
                },
                error: function (xhr, status, error) {
                    if (xhr.status == 200) {

                    }
                    else {
                        Swal.fire({
                            icon: 'error',
                            title: 'Talep Esnasında Bir Hata Oluştur',
                            text: '' + xhr.status + '   ' + error.Message,
                        })
                    }

                }
            })

        })

        Kesim_Türleri_Doldur()


    })
    function Kesim_Türleri_Doldur() {
        $.ajax({
            url: 'api/Kesim/Kesim_Türü_Get_All',
            type: 'POST',
            async: false,
            dataType: "json",

            contentType: "application/json; charset=utf-8",
            success: function (data) {
                $('#Kesim_Türleri_Div').empty()
                for (var i = 0; i < data.length; i++) {
                    var myvar = '<div class="row" style="padding-top:25px">' +
                        '                        <div class="col-md-8"></div>' +
                        '                        <div class="col-md-2">' +
                        '                            <button type="button" kesim_türü_Id="' + data[i].id + '"  Kesim_Türü_Adı="' + data[i].kesim_Türü_Txt + '" id="Kesim_Başlığı_Düzenle" class="btn btn-primary btn-block">Adı Düzenle</button>' +
                        '                        </div>' +
                        '                        <div class="col-md-2">' +
                        '                            <button type="button" kesim_türü_Id="' + data[i].id + '"  id="Kesim_Türü_Sil" class="btn btn-danger btn-block">Başlığı Sil</button>' +
                        '                        </div>' +

                        '                    </div>';

                    var Ekleme_Buttons = '' +
                        '<div class="row">' +
                        '                                    <div class="col">' +
                        '                                        <div class="form-group">' +
                        '                                                        <input id="Kesim_Baş_MM_' + data[i].id + '" data-thousands="." data-decimal=","' +
                        '                                                        data-suffix=" mm" class="form-control form-control" type="text"' +
                        '                                                        placeholder="Kesim Baş mm">' +
                        '                                        </div>' +
                        '                                    </div>' +
                        '                                    <div class="col">' +
                        '                                        <div class="form-group">' +
                        '                                                        <input id="Kesim_Son_MM_' + data[i].id + '" data-thousands="." data-decimal=","' +
                        '                                                        data-suffix=" mm" class="form-control form-control" type="text"' +
                        '                                                        placeholder="Kesim Son mm">' +
                        '                                        </div>' +
                        '                                    </div>' +
                        '                                    <div class="col"  >' +
                        '                                        <div class="form-group">' +

                        '<select class="form-control" id="Kesim_Birim_' + data[i].id + '">' +
                        ' </select> ' +
                        '                                        </div>' +
                        '                                    </div>' +
                        '                                    <div class="col">' +
                        '                                        <div class="form-group">' +
                        '                                                        <input id="Kesim_Birim_Fiyat_' + data[i].id + '" data-thousands="." data-decimal=","' +
                        '                                                        data-suffix=" ₺" class="form-control form-control" type="text"' +
                        '                                                        placeholder="Birim Fiyatı">' +
                        '                                        </div>' +
                        '                                    </div>' +
                        '                                    <div class="col-md-2">' +
                        '                                         <button type="button" kesim_türü_Id="' + data[i].id + '"  id="Yeni_Kesim_Satırı_Ekle_Btn_' + data[i].id + '" class="btn btn-warning btn-block">Ekle</button>' +
                        '                                    </div>' +
                        '                                </div>' +

                        '';

                    // 
                    // 
                    var variable = '' +
                        '<div class="row">' +
                        '        <div class="col-md-12">' +
                        '            <div class="card card-primary collapsed-card">' +
                        '                <div class="card-header">' +
                        '                    <h3 class="card-title">' + data[i].kesim_Türü_Txt + '</h3>' +
                        '                    <div class="card-tools">' +
                        '                        <button type="button" class="btn btn-tool" data-card-widget="collapse">' +
                        '                            <i class="fas fa-plus"></i>' +
                        '                        </button>' +
                        '                    </div>' +
                        '                </div>' +
                        '                <div class="card-body">' + Ekleme_Buttons +
                        '                    <div class="row">' +
                        '                        <div class="col-md-12">' +
                        '                           <table id="Kesim_Türü_Table_' + data[i].id + '"></table>' +
                        '                        </div>' +
                        '                    </div>' + myvar +
                        '                </div>' +
                        '            </div>' +
                        '        </div>' +
                        '    </div>' +
                        '';
                    $('#Kesim_Türleri_Div').append(variable)
                    Birim_Listesi_Doldur()

                    $('#Kesim_Baş_MM_' + data[i].id).maskMoney()
                    $('#Kesim_Son_MM_' + data[i].id).maskMoney()
                    $('#Kesim_Birim_Fiyat_' + data[i].id).maskMoney()


                    $('#Kesim_Başlığı_Düzenle').click(function () {
                        $('#Parametre_Modal').modal('hide')
                        $('#Kesim_Türü_Düzenle_Modal').modal('show')

                        $('#Kesim_Türü_Düzenle_Modal_Button').attr('Kesim_Türü_Id', $(this).attr('kesim_türü_Id'))

                        $('#Kesim_Türü_Düzenle_İnput').val($(this).attr('Kesim_Türü_Adı'))
                        //Kesim_Türü_Adı



                    })
                    //Kesim_Türü_Düzenle_Modal

                    $('#Kesim_Türü_Sil' + data[i].id).once('click', function () {
                        var x = {
                            Id: $(this).attr('kesim_türü_Id')
                        }
                        var eski_this = $(this)


                        Swal.fire({
                            title: 'Başlığı Silmek İstiyormusunuz? ',
                            icon: 'warning',
                            showCancelButton: true,
                            confirmButtonColor: '#3085d6',
                            cancelButtonColor: '#d33',
                            cancelButtonText: 'Vazgeç',
                            confirmButtonText: 'SİL'
                        }).then((result) => {
                            if (result.isConfirmed) {
                                $.ajax({
                                    url: 'api/Kesim/Kesim_Türünden_Hepsini_Sil',
                                    type: 'POST',
                                    async: false,
                                    dataType: "json",
                                    data: JSON.stringify(x),
                                    contentType: "application/json; charset=utf-8",
                                    success: function (data) {


                                    },
                                    error: function (xhr, status, error) {
                                        if (xhr.status == 200) {
                                            eski_this.parent().parent().parent().parent().parent().parent().remove()
                                            Swal.fire(
                                                'Silindi',
                                                'Başlık Başarı İle Silindi',
                                                'success'
                                            )
                                        }
                                        else {
                                            Swal.fire({
                                                icon: 'error',
                                                title: 'Talep Esnasında Bir Hata Oluştur',
                                                text: '' + xhr.status + '   ' + error.message,
                                            })
                                        }

                                    }
                                });

                            }
                        })

                    })

                    $('#Yeni_Kesim_Satırı_Ekle_Btn_' + data[i].id).click(function () {
                        var kesim_türü_Id = $(this).attr('kesim_türü_Id')

                        var Gönderilecek_veri = {
                            Kesim_Türü_Id: $(this).attr('kesim_türü_Id'),
                            Kesim_mm_Bas: $('#Kesim_Baş_MM_' + kesim_türü_Id).maskMoney('unmasked')[0].toFixed(2),
                            Kesim_mm_Son: $('#Kesim_Son_MM_' + kesim_türü_Id).maskMoney('unmasked')[0].toFixed(2),
                            Birim_Id: $('#Kesim_Birim_' + kesim_türü_Id + '').find(':selected').attr('value'),
                            Saat_Bası_Ucret: $('#Kesim_Birim_Fiyat_' + kesim_türü_Id + '').maskMoney('unmasked')[0].toFixed(2)
                        }
                        var temp;
                        $.ajax({
                            url: 'api/Kesim/Kesim_Add',
                            type: 'POST',
                            async: false,
                            dataType: "json",
                            data: JSON.stringify(Gönderilecek_veri),
                            contentType: "application/json; charset=utf-8",
                            success: function (data) {
                                tamp = data
                                var $table = $('#Kesim_Türü_Table_' + kesim_türü_Id)
                                Kesim_Build_Table($table, 0, 0, kesim_türü_Id)

                            },
                            error: function (xhr, status, error) {
                                if (xhr.status == 200) {
                                    var $table = $('#Kesim_Türü_Table_' + kesim_türü_Id)
                                    Kesim_Build_Table($table, 0, 0, kesim_türü_Id)
                                }
                                else {
                                    Swal.fire({
                                        icon: 'error',
                                        title: 'Talep Esnasında Bir Hata Oluştur',
                                        text: '' + xhr.status + '   ' + error.Message,
                                    })
                                }

                            }
                        });


                        Malzeme_Kesim_Türü_Select_Doldur()





                    })


                    var $table = $('#Kesim_Türü_Table_' + data[i].id)
                    Kesim_Build_Table($table, 0, 0, data[i].id)






                }



            },
            error: function (xhr, status, error) {
                if (xhr.status == 200) {
                }
                else {
                    Swal.fire({
                        icon: 'error',
                        title: 'Talep Esnasında Bir Hata Oluştur',
                        text: '' + xhr.status + '   ' + error.Message,
                    })
                }

            }
        });


    }

    function Kesim_Build_Table($el, cells, rows, Kesim_Türü_Id) {


        var x = {
            Id: Kesim_Türü_Id
        }


        $el.bootstrapTable('destroy');

        var i; var j; var row
        var columns = [];
        var data__ = [];
        columns.push({
            field: 'Kesim_Türü_Id',
            title: 'Kesim_Türü_Id',
        })
        columns.push({
            field: 'Count',
            title: 'Count',
        })
        columns.push({
            field: 'ID',
            title: 'ID',
        })
        columns.push({
            field: 'Kesim_Bas_mm',
            title: 'Kesim Baş MM',
        })
        columns.push({
            field: 'Kesim_Son_mm',
            title: 'Kesim Son MM',
        })
        columns.push({
            field: 'Birim',
            title: 'Birim',
        })
        columns.push({
            field: 'Saat_Bası_Ucret',
            title: 'Birim Fiyat',
        })
        columns.push({
            field: 'Düzenle',
            title: 'Düzenle',
        })
        columns.push({
            field: 'Sil',
            title: 'SİL',
        })


        var Temp___;
        $.ajax({
            url: 'api/Kesim/Kesim_Get_By_Kesim_Türü_Id',
            type: 'POST',
            async: false,
            dataType: "json",
            data: JSON.stringify(x),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                var temp = data
                Temp___ = data


                for (i = 0; i < temp.length; i++) {
                    row = {}

                    row['Count'] = i
                    row['ID'] = temp[i].id
                    row['Kesim_Türü_Id'] = temp[i].kesim_Türü_Id
                    row['Birim'] = temp[i].birim.birim_Kısa_ad

                    row['Kesim_Bas_mm'] = temp[i].kesim_mm_Bas.toFixed(2)
                    row['Kesim_Son_mm'] = temp[i].kesim_mm_Son.toFixed(2)
                    row['Saat_Bası_Ucret'] = temp[i].saat_Bası_Ucret.toFixed(2)
                    row['Sil'] = '<button class="btn btn-danger" Kesim_id="' + temp[i].id + '" kesim_Türü_Id="' + temp[i].kesim_Türü_Id + '" Row_İndex="' + i + '" kesim_Id="' + temp[i].id + '" id="İşlem_Sil"><i class="fa fa-trash"></i></button>'
                    row['Düzenle'] = '<button class="btn btn-block btn-warning" Kesim_Türü_Id="' + temp[i].kesim_Türü_Id + '" Kesim_Id="' + temp[i].id + '" id="Kesim_Düzenle">Düzenle</button>'

                    data__.push(row)
                }
            },
            error: function () {
                alert('Talep esnasında sorun oluştu.Yeniden deneyin');
            }
        });





        $el.bootstrapTable({
            columns: columns,
            data: data__,
            onDblClickCell: function (field, value, row, $element) {

                $('button[id=Edit_kaydet]').each(function () {

                    $(this).click(function () {
                        var eski_this = $(this)
                        $el.bootstrapTable('updateRow', {
                            index: row.Count,
                            row: {
                                Count: row.Count,
                                Id: row.ID,
                                Kesim_Türü_Id: row.Kesim_Türü_Id,
                                Kesim_Bas_mm: eski_this.parent().parent().parent().parent().parent().find('input[name=Kesim_Bas_mm]').val() == undefined ? row.Kesim_Bas_mm : eski_this.parent().parent().parent().parent().parent().find('input[name=Kesim_Bas_mm]').val(),
                                Kesim_Son_mm: eski_this.parent().parent().parent().parent().parent().find('input[name=Kesim_Son_mm]').val() == undefined ? row.Kesim_Son_mm : eski_this.parent().parent().parent().parent().parent().find('input[name=Kesim_Son_mm]').val(),
                                Saat_Bası_Ucret: eski_this.parent().parent().parent().parent().parent().find('input[name=Saat_Bası_Ucret]').val() == undefined ? row.Saat_Bası_Ucret : eski_this.parent().parent().parent().parent().parent().find('input[name=Saat_Bası_Ucret]').val()
                            }
                        })
                        var Gönderilecek_veri = {
                            ID: row.ID,
                            Kesim_Türü_Id: row.Kesim_Türü_Id,
                            Kesim_mm_Bas: $(this).parent().parent().parent().parent().parent().find('input[name=Kesim_Bas_mm]').val() == undefined ? row.Kesim_Bas_mm : eski_this.parent().parent().parent().parent().parent().find('input[name=Kesim_Bas_mm]').val(),
                            Kesim_mm_Son: $(this).parent().parent().parent().parent().parent().find('input[name=Kesim_Son_mm]').val() == undefined ? row.Kesim_Son_mm : eski_this.parent().parent().parent().parent().parent().find('input[name=Kesim_Son_mm]').val(),
                            Saat_Bası_Ucret: $(this).parent().parent().parent().parent().parent().find('input[name=Saat_Bası_Ucret]').val() == undefined ? row.Saat_Bası_Ucret : eski_this.parent().parent().parent().parent().parent().find('input[name=Saat_Bası_Ucret]').val()
                        }

                        $.ajax({
                            url: 'api/Kesim/Kesim_Edit',
                            type: 'POST',
                            async: false,
                            dataType: "json",
                            data: JSON.stringify(Gönderilecek_veri),


                            contentType: "application/json; charset=utf-8",
                            success: function (data) {

                            },
                            error: function (xhr, status, error) {
                                if (xhr.status == 200) {
                                }
                                else {
                                    Swal.fire({
                                        icon: 'error',
                                        title: 'Talep Esnasında Bir Hata Oluştur',
                                        text: '' + xhr.status + '   ' + error.Message,
                                    })
                                }

                            }
                        });




                    })
                })




            }




        })






        $el.bootstrapTable('hideColumn', 'Count')
        $el.bootstrapTable('hideColumn', 'ID')
        $el.bootstrapTable('hideColumn', 'Kesim_Türü_Id')


        $('button[id=Kesim_Düzenle]').click(function () {

            $('#Parametre_Modal').modal('hide')
            $('#Kesim_Detay_Düzenle_Modal').modal('show')


            $('#Kesim_Detay_Düzenle_Button').attr('kesim_Türü_Id', $(this).attr('kesim_Türü_Id'))
            $('#Kesim_Detay_Düzenle_Button').attr('kesim_Id', $(this).attr('kesim_Id'))


            //Kesim_Get_By_Id

            var x = {
                Id: $(this).attr('kesim_Id')
            }

            $.ajax({
                url: 'api/Kesim/Kesim_Get_By_Id',
                type: 'POST',
                async: false,
                dataType: "json",
                data: JSON.stringify(x),
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    $('#Kesim_Türü_Düzenle_Kesim_Bas_İnput').val(data.kesim_mm_Bas)
                    $('#Kesim_Türü_Düzenle_Kesim_Bas_İnput').maskMoney()
                    $('#Kesim_Türü_Düzenle_Kesim_Bas_İnput').trigger('mask.maskMoney')


                    $('#Kesim_Türü_Düzenle_Kesim_Son_İnput').val(data.kesim_mm_Son)
                    $('#Kesim_Türü_Düzenle_Kesim_Son_İnput').maskMoney()
                    $('#Kesim_Türü_Düzenle_Kesim_Son_İnput').trigger('mask.maskMoney')

                    $('#Kesim_Türü_Düzenle_Birim_Fiyat_İnput').val(data.saat_Bası_Ucret)
                    $('#Kesim_Türü_Düzenle_Birim_Fiyat_İnput').maskMoney()
                    $('#Kesim_Türü_Düzenle_Birim_Fiyat_İnput').trigger('mask.maskMoney')


                    $('#Kesim_Düzenle_Birim_Select').val(data.birim_Id)



                },
                error: function (xhr, status, error) {
                    if (xhr.status == 200) {

                    }
                    else {
                        Swal.fire({
                            icon: 'error',
                            title: 'Talep Esnasında Bir Hata Oluştur',
                            text: '' + xhr.status + '   ' + error.message,
                        })
                    }

                }
            });


        })


        $('button[id=İşlem_Sil]').once('click', function () {

            var Gönderilecek_veri = {
                id: $(this).attr('Kesim_id')
            }
            var kesim_türü_Id = $(this).attr('kesim_Türü_Id')

            $.ajax({
                url: 'api/Kesim/Kesim_Delete',
                type: 'POST',
                async: false,
                dataType: "json",
                data: JSON.stringify(Gönderilecek_veri),
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    var $table = $('#Kesim_Türü_Table_' + kesim_türü_Id)
                    Kesim_Build_Table($table, 0, 0, kesim_türü_Id)


                },
                error: function (xhr, status, error) {
                    if (xhr.status == 200) {

                    }
                    else {
                        Swal.fire({
                            icon: 'error',
                            title: 'Talep Esnasında Bir Hata Oluştur',
                            text: '' + xhr.status + '   ' + error.Message,
                        })
                    }

                }
            })
        })




    }
</script>

<div class="row">
    <div class="col-lg-12">
        <div class="card card-danger collapsed-card">
            <div class="card-header">
                <h3 class="card-title">Kesim</h3>
                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse">
                        <i class="fas fa-plus"></i>
                    </button>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-10">
                        <div class="form-group">
                            <input id="Kesim_Türü_İnput" class="form-control form-control" type="text"
                                placeholder="Kesim Türü">
                        </div>
                    </div>
                    <div class="col-md-2">
                        <button type="button" id="Kesim_Türü_Ekle" İşlem="0" class="btn btn-primary btn-block">
                            Ekle
                        </button>
                    </div>
                </div>
                <div id="Kesim_Türleri_Div">

                </div>
            </div>
        </div>
    </div>
</div>