<script>
    $(document).ready(function () {


        var File_Id = 0;
        $('#Malzeme_Bilgisi_Dosya_Ekle_İnput_Button').click(function () {
            var variable = '' +
                '<form style="padding-top: 25px;">' +
                '  <div class="custom-file">' +
                '    <input type="file" class="custom-file-input" id="Malzeme_Bilgisi_Dosya_İnputları">' +
                '    <label class="custom-file-label" for="customFile">Choose file</label>' +
                '  </div>' +
                '</form>' +
                '';
            $('#previews').append(variable)
            $(".custom-file-input").on("change", function () {
                var fileName = $(this).val().split("\\").pop();
                $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
                console.log(this.files)
            });



        })

        $('#Dosya_Kaydet_Malzeme_Bilgisi').click(function () {
            var form = new FormData();




            $('#Malzeme_Bilgisi_Dosya_İnputları').each(function () {


                var form = new FormData();
                form.append("file", this.files[0]);
                form.append("description", "123");

                var settings = {
                    "url": "api/FileUpload/UploadFiles",
                    "method": "POST",
                    "timeout": 0,
                    "processData": false,
                    "mimeType": "multipart/form-data",
                    "contentType": false,
                    "data": form
                };


                var bar = $('.bar');
                var percent = $('.percent');
                var status = $('#status');

                $.ajax({
                    "url": "api/FileUpload/UploadFiles",
                    "method": "POST",
                    "timeout": 0,
                    "processData": false,
                    "mimeType": "multipart/form-data",
                    "contentType": false,
                    "data": form,
                    xhr: function () {
                        var xhr = new window.XMLHttpRequest();

                        xhr.upload.addEventListener("progress", function (evt) {
                            if (evt.lengthComputable) {
                                var percentComplete = evt.loaded / evt.total;
                                percentComplete = parseInt(percentComplete * 100);
                                console.log(percentComplete);

                                if (percentComplete === 100) {

                                }

                            }
                        }, false);

                        return xhr;
                    },

                    success: function (data) {




                    },
                    error: function (xhr, status, error) {


                    }
                })
                console.log(this.files)
            })
        })
    })
</script>
<style>
    #file-input::-webkit-file-upload-button {
        visibility: hidden;
        user-select: none;
    }

    #file-input {
        display: none;
        user-select: none;
    }
</style>

<div class="modal fade" id="Malzeme_Bilgisi_Dosya_Ekle_Modal" tabindex="-100" role="dialog"
    aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="Malzeme_Bilgisi_Dosya_Ekle_Modal_Header">Dosya Ekle</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="col-md-12">
                    <div class="card card-default">
                        <div class="card-header">
                            <h3 class="card-title">Lütfen Dosya Seçiniz </h3>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-3">
                                    <button type="submit" id="Malzeme_Bilgisi_Dosya_Ekle_İnput_Button"
                                        class="btn btn-success col fileinput-button dz-clickable">
                                        <i class="fas fa-plus"></i>
                                        <span>Dosya Ekle</span>
                                    </button>
                                </div>
                            </div>
                            <div class="row" style="padding-top: 25px;">
                                <div class="col-md-12">
                                    <div id="previews">


                                    </div>
                                </div>
                            </div>
                            <div class="progress">
                                <div class="bar"></div>
                                <div class="percent">0%</div>
                            </div>
                            <div id="status"></div>

                        </div>
                    </div>

                </div>



            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Kapat</button>
                <button type="button" class="btn btn-secondary" id="Dosya_Kaydet_Malzeme_Bilgisi">Kaydet</button>
            </div>
        </div>
    </div>
</div>