<script>
    $(document).ready(function () {


        $('#Kilo_İle_Büküm_Ekle').click(function () {

            $('#Parametre_Modal').modal('hide')

            $('#BükümYeni_KiloBüküm_Ekle_Modal').modal('show')

        })




        //BükümYeni_AdetİleBüküm_Modal

        $('#BükümYeni_KiloBüküm_Ekle_Modal').on('hidden.bs.modal', function () {

            $('#Parametre_Modal').modal('show')

        })

        $('#BükümYeni_KiloBüküm_Ekle_Modal_Düzenle').on('hidden.bs.modal', function () {

            $('#Parametre_Modal').modal('show')

        })
        var $table = $('#Kilo_İle_Büküm_Hesaplama_Table')
        Büküm_Yeni_Build_Table_Kilo($table, 0, 0)



        //


        $('#Adet_İle_Büküm_Ekle').click(function () {

            $('#Parametre_Modal').modal('hide')

            $('#BükümYeni_AdetİleBüküm_Modal').modal('show')

        })

        $('#BükümYeni_AdetİleBüküm_Modal').on('hidden.bs.modal', function () {

            $('#Parametre_Modal').modal('show')

        })


        $('#BükümYeni_AdetİleBüküm_Modal_Düzenle').on('hidden.bs.modal', function () {

            $('#Parametre_Modal').modal('show')

        })



        var $table = $('#Adet_İle_Büküm_Hesaplama_Table')
        Adet_İle_Büküm_Hesapla_Build_Table($table, 0, 0)


        //Uzunul_Ve_Genişlik_Zorluk_Düzenle_Modal

        $('#Uzunul_Ve_Genişlik_Zorluk_Düzenle_Modal').on('hidden.bs.modal', function () {

            $('#Parametre_Modal').modal('show')

        })




    })

    function Büküm_Yeni_Build_Table_Kilo($el, cells, rows) {

        $el.bootstrapTable('destroy');

        var i; var j; var row
        var columns = [];
        var data__ = [];

        columns.push({
            field: 'ID',
            title: 'ID',
            sortable: true
        })
        columns.push({
            field: 'Ağırlık_Bas',
            title: 'Ağırlık Bas(kg)',
            sortable: true
        })
        columns.push({
            field: 'Ağırlık_Son',
            title: 'Ağırlık Son(kg)',
            sortable: true
        })
        columns.push({
            field: 'Katsatı',
            title: 'Katsayı',
            sortable: true
        })


        columns.push({
            field: 'Düzenle',
            title: 'Düzenle',
        })
        columns.push({
            field: 'Sil',
            title: 'Sil',
        })


        $.ajax({
            url: 'api/BükümYeni/Büküm_KiloHesabı_Get_All',
            type: 'POST',
            async: false,
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            success: function (data) {

                var temp = data

                console.log("sadkoası9d90ı*0ads")
                console.log(data)
                for (i = 0; i < temp.length; i++) {
                    row = {}


                    var kilo_Bas = '' +
                        '<input   id="Büküm_KiloHesabı_Kilo_Bas_İnput" class="form-control" data-thousands="." data-decimal=","' +
                        '                                           value="' + temp[i].kilo_Bas.toFixed(2) + '"         data-suffix=" kg" type="text"' +
                        '                                                      />' +
                        '';

                    var kilo_Son = '' +
                        '<input   id="Büküm_KiloHesabı_Kilo_Son_İnput" class="form-control" data-thousands="." data-decimal=","' +
                        '                                           value="' + temp[i].kilo_Son.toFixed(2) + '"         data-suffix=" kg" type="text"' +
                        '                                                      />' +
                        '';

                    var katSayı = '' +
                        '<input   id="Büküm_KiloHesabı_Katsayı_İnput" class="form-control" data-thousands="." data-decimal=","' +
                        '                                           value="' + temp[i].katSayı.toFixed(2) + '"         data-suffix="" type="text"' +
                        '                                                      />' +
                        '';





                    row['ID'] = temp[i].id
                    row['Katsatı'] = katSayı
                    row['Ağırlık_Bas'] = kilo_Bas
                    row['Ağırlık_Son'] = kilo_Son
                    row['Sil'] = '<button class="btn btn-danger"  Büküm_KiloHesabı_Id="' + temp[i].id + '"  id="Büküm_KiloHesabı_Sil"><i class="fa fa-trash"></i></button>'
                    row['Düzenle'] = '<button class="btn btn-block btn-warning" Büküm_KiloHesabı_Id="' + data[i].id + '"  id="Büküm_KiloHesabı_Düzenle">Düzenle</button>'

                    data__.push(row)


                }
            },
            error: function () {
                alert('Talep esnasında sorun oluştu.Yeniden deneyin');
            }
        });



        $el.bootstrapTable({
            columns: columns,
            data: data__,
            onPostBody: function (data) {
                console.log("auuağğuağuağu")
                console.log(data)
                $('#Büküm_KiloHesabı_Kilo_Bas_İnput').maskMoney();
                $('#Büküm_KiloHesabı_Kilo_Bas_İnput').trigger('mask.maskMoney');
                $('#Büküm_KiloHesabı_Kilo_Bas_İnput').attr("disabled", 'true');

                $('#Büküm_KiloHesabı_Kilo_Son_İnput').maskMoney();
                $('#Büküm_KiloHesabı_Kilo_Son_İnput').trigger('mask.maskMoney');
                $('#Büküm_KiloHesabı_Kilo_Son_İnput').attr("disabled", 'true');


                $('#Büküm_KiloHesabı_Katsayı_İnput').maskMoney();
                $('#Büküm_KiloHesabı_Katsayı_İnput').trigger('mask.maskMoney');
                $('#Büküm_KiloHesabı_Katsayı_İnput').attr("disabled", 'true');


            }

        })

        $('button[id=Büküm_KiloHesabı_Sil]').click(function () {
            Swal.fire({
                title: 'Silmek İstediğinizden Eminmisiniz ?',
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Sil',
                cancelButtonText: 'Vazgeç'
            }).then((result) => {
                if (result.isConfirmed) {

                    var x = {
                        id: $(this).attr('Büküm_KiloHesabı_Id')
                    }
                    $.ajax({
                        url: 'api/BükümYeni/Büküm_KiloHesabı_Delete',
                        type: 'POST',
                        async: false,
                        dataType: "json",
                        data: JSON.stringify(x),
                        contentType: "application/json; charset=utf-8",
                        success: function (data) {

                            var $table = $('#Kilo_İle_Büküm_Hesaplama_Table')
                            Büküm_Yeni_Build_Table_Kilo($table, 0, 0)


                            Swal.fire(
                                'Silindi',
                                'İşlem Başarılı',
                                'success'
                            )
                        },
                        error: function (xhr, status, error) {
                            if (xhr.status == 200) {

                            }
                            else {
                                Swal.fire({
                                    icon: 'error',
                                    title: 'Talep Esnasında Bir Hata Oluştur',
                                    text: '' + xhr.status + '   ' + error.Message,
                                })
                            }

                        }
                    })


                }
            })


        })

        $('button[id=Büküm_KiloHesabı_Düzenle]').click(function () {
            $('#Parametre_Modal').modal('hide')
            $('#BükümYeni_KiloBüküm_Ekle_Modal_Düzenle').modal('show')
            $('#BükümYeni_KiloBüküm_Ekle_Modal_Kaydet_Düzenle').attr('Operasyon_ıd', $(this).attr('Büküm_KiloHesabı_Id'))
        })












    }




    function Adet_İle_Büküm_Hesapla_Build_Table($el, cells, rows) {

        $el.bootstrapTable('destroy');


        var i; var j; var row
        var columns = [];
        var data__ = [];



        columns.push({
            field: 'ID',
            title: 'ID',
            sortable: true
        })

        columns.push({
            field: 'Zorluk_Adı',
            title: 'Zorluk Adı',
            sortable: true
        })

        columns.push({
            field: 'Katsatı',
            title: 'Katsayı',
            sortable: true
        })

        columns.push({
            field: 'Düzenle',
            title: 'Düzenle',
        })
        columns.push({
            field: 'Sil',
            title: 'Sil',
        })


        $.ajax({
            url: 'api/BükümYeni/Büküm_AdetHesabı_Get_All',
            type: 'POST',
            async: false,
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            success: function (data) {

                var temp = data

                console.log("asasdasd")


                console.log(data)
                for (i = 0; i < temp.length; i++) {
                    row = {}



                    var Zorluk_Adı = '' +
                        '<input   id="Büküm_AdetHesabı_Kilo_Son_İnput" class="form-control" ' +
                        '                                           value="' + temp[i].zorluk_Adı + '"       type="text"' +
                        '                                                      />' +
                        '';

                    var katSayı = '' +
                        '<input   id="Büküm_adetHesabı_Katsayı_İnput" class="form-control" data-thousands="." data-decimal=","' +
                        '                                           value="' + temp[i].zorluk_Katsayısı.toFixed(2) + '"         data-suffix="" type="text"' +
                        '                                                      />' +
                        '';





                    row['ID'] = temp[i].id
                    row['Katsatı'] = katSayı
                    row['Zorluk_Adı'] = Zorluk_Adı
                    row['Sil'] = '<button class="btn btn-danger"  Büküm_AdetHesabı_Id="' + temp[i].id + '"  id="Büküm_AdetHesabı_Sil"><i class="fa fa-trash"></i></button>'
                    row['Düzenle'] = '<button class="btn btn-block btn-warning" Büküm_AdetHesabı_Id="' + data[i].id + '"  id="Büküm_AdetHesabı_Düzenle">Düzenle</button>'

                    data__.push(row)


                }
            },
            error: function () {
                alert('Talep esnasında sorun oluştu.Yeniden deneyin');
            }
        });



        $el.bootstrapTable({
            columns: columns,
            data: data__,
            onPostBody: function (data) {
                console.log(data)

                $('#Büküm_adetHesabı_Katsayı_İnput').maskMoney();
                $('#Büküm_adetHesabı_Katsayı_İnput').attr("disabled", 'true');
                $('#Büküm_AdetHesabı_Kilo_Son_İnput').attr("disabled", 'true');

                //Büküm_KiloHesabı_Kilo_Son_İnput

            }

        })

        $('button[id=Büküm_AdetHesabı_Sil]').click(function () {
            Swal.fire({
                title: 'Silmek İstediğinizden Eminmisiniz ?',
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Sil',
                cancelButtonText: 'Vazgeç'
            }).then((result) => {
                if (result.isConfirmed) {

                    var x = {
                        id: $(this).attr('Büküm_AdetHesabı_Id')
                    }
                    $.ajax({
                        url: 'api/BükümYeni/Büküm_AdetHesabı_Delete',
                        type: 'POST',
                        async: false,
                        dataType: "json",
                        data: JSON.stringify(x),
                        contentType: "application/json; charset=utf-8",
                        success: function (data) {

                            var $table = $('#Adet_İle_Büküm_Hesaplama_Table')
                            Adet_İle_Büküm_Hesapla_Build_Table($table, 0, 0)



                            Swal.fire(
                                'Silindi',
                                'İşlem Başarılı',
                                'success'
                            )
                        },
                        error: function (xhr, status, error) {
                            if (xhr.status == 200) {

                            }
                            else {
                                Swal.fire({
                                    icon: 'error',
                                    title: 'Talep Esnasında Bir Hata Oluştur',
                                    text: '' + xhr.status + '   ' + error.Message,
                                })
                            }

                        }
                    })


                }
            })


        })

        $('button[id=Büküm_AdetHesabı_Düzenle]').click(function () {
            $('#Parametre_Modal').modal('hide')
            $('#BükümYeni_AdetİleBüküm_Modal_Düzenle').modal('show')
            $('#BükümYeni_AdetBüküm_Ekle_Modal_Kaydet_Düzenle').attr('Operasyon_ıd', $(this).attr('Büküm_AdetHesabı_Id'))
        })











    }

</script>




<div class="row">
    <div class="col-md-12">
        <div class="card card-danger collapsed-card border border-danger">
            <div class="card-header">
                <label for="">Büküm Hesabı</label>
                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse">
                        <i class="fas fa-plus"></i>
                    </button>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card card-primary collapsed-card">
                            <div class="card-header">
                                <label for="">Kilo İle Büküm Hesaplama</label>
                                <div class="card-tools">
                                    <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                        <i class="fas fa-plus"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-12">
                                        <table id="Kilo_İle_Büküm_Hesaplama_Table"></table>
                                    </div>
                                </div>
                                <div class="row" style="padding-top: 25px;">
                                    <div class="col-md-10">
                                    </div>
                                    <div class="col-md-2">
                                        <button type="button" id="Kilo_İle_Büküm_Ekle"
                                            class="btn btn-block btn-warning">
                                            Ekle
                                        </button>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="card card-primary collapsed-card">
                            <div class="card-header">
                                <label for="">Adet İle Büküm Hesaplama</label>
                                <div class="card-tools">
                                    <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                        <i class="fas fa-plus"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-12">
                                        <table id="Adet_İle_Büküm_Hesaplama_Table"></table>
                                    </div>
                                </div>
                                <div class="row" style="padding-top: 25px;">
                                    <div class="col-md-10">
                                    </div>
                                    <div class="col-md-2">
                                        <button type="button" id="Adet_İle_Büküm_Ekle"
                                            class="btn btn-block btn-warning">
                                            Ekle
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                @Html.Partial("BükümUzunlukİle")

            </div>
        </div>
    </div>
</div>