<script>
    $(document).ready(function () {

        $('#Malzeme_Select').change(function () {
            //Büküm_Maliyeti_Doldur()
        })


        $('#Yeni_Büküm_Maliyeti').click(function () {
            if ($(this).attr('basıldımı') == 0) {
                $(this).attr('basıldımı', "1")
                $(this).attr('readonly', "true")
                $(this).attr('style', 'background-color:#dc354594;border-color:#dc354594')

                Büküm_Maliyeti_Doldur()


            }
            else {
                $(this).attr('basıldımı', "0")
                $(this).attr('readonly', "false")
                $(this).attr('style', 'background-color:#dc3545;border-color:#dc3545')

                $('#Büküm_Row').remove()
            }


        })






    })


    function Kilo_İle_Büküm_Maliyet_Hesapla(Malzeme_Ağırlığı, KatSayı) {

        return parseFloat(Malzeme_Ağırlığı) * parseFloat(KatSayı)
    }

    function Büküm_Maliyeti_Doldur() {

        var variable = '' +
            '<div class="row" id="Büküm_Row">' +
            '                        <div class="col-md-12">' +
            '                            <div class="card card-danger border border-danger">' +
            '                                <div class="card-header">' +
            '                                    <label for="">Büküm Hesabı</label>' +
            '                                </div>' +
            '                                <div class="card-body">' +
            '                                    <div class="row">' +
            '                                        <div class="col-md-12">' +
            '                                            <label for="">Büküm Adeti:</label>' +
            '                                            <input type="text" class="form-control" data-thousands=""  data-decimal="" id="Büküm_Yeni_Adeti_İnput">' +
            '                                        </div>' +
            '                                    </div>' +
            '                                    <div class="row" style="padding-top: 25px;">' +
            '                                        <div class="col-md-6">' +
            '                                            <div class="card card-secondary">' +
            '                                                <div class="card-header">' +
            '                                                    <label for="">Ağırlığa Göre Büküm Hesabı</label>' +
            '                                                </div>' +
            '                                                <div class="card-body">' +
            '                                                    <div class="row">' +
            '                                                        <div class="col-md-12">' +
            '                                                            <label for="">Malzeme Ağırlığı:</label>' +
            '                                                            <input type="text" class="form-control"' +
            '                                                                id="Büküm_Hesabı_Malzeme_Ağırlığı_İnput" data-thousands="" placeholder="Malzeme Ağırlığı" data-suffix=" kg" data-decimal="," disabled>' +
            '                                                        </div>' +
            '                                                    </div>' +
            '                                                    <div class="row">' +
            '                                                        <div class="col-md-12">' +
            '                                                            <label for="">Katsayı:</label>' +
            '                                                            <input type="text"' +
            '                                                           disabled     id="Büküm_Hesabı_Malzeme_Ağırlık_Hesabı_Katsayı"' +
            '                                                                class="form-control">' +
            '                                                        </div>' +
            '                                                    </div>' +
            '                                                    <div class="row">' +
            '                                                        <div class="col-md-12">' +
            '                                                            <label for="">Büküm Maliyeti:</label>' +
            '                                                            <input' +
            '                                                              name="Malzeme_Büküm_Fiyatı_İnput"  Büküm_Tipi="0" id="Büküm_Hesabı_Malzeme_Ağırlık_Hesabı_Büküm_Maliyeti"' +
            '                                                                disabled data-thousands="." data-decimal=","' +
            '                                                                data-suffix=" ₺" class="form-control " type="text"' +
            '                                                                placeholder="Büküm Maliyeti">' +
            '' +
            '                                                        </div>' +
            '                                                    </div>' +
            '                                                </div>' +
            '                                            </div>' +
            '                                        </div>' +
            '                                        <div class="col-md-6">' +
            '                                            <div class="card card-secondary">' +
            '                                                <div class="card-header">' +
            '                                                    <label for="">Büküm Adetine Göre Büküm Hesabı</label>' +
            '                                                </div>' +
            '                                                <div class="card-body">' +
            '                                                    <div class="row">' +
            '                                                        <div class="col-md-12">' +
            '                                                            <label for="">Büküm Zorluğu</label>' +
            '                                                            <select name=""' +
            '                                                                id="Büküm_Hesabı_Adet_İle_Büküm_Zorluğu_select"' +
            '                                                                class="form-control"></select>' +
            '                                                        </div>' +
            '                                                    </div>' +
            '                                                    <div class="row">' +
            '                                                        <div class="col-md-12">' +
            '                                                            <label for="">Katsayı:</label>' +
            '                                                            <input type="text"' +
            '                                                       disabled         id="Büküm_Yeni_Hesabı_Adet_İle_Büküm_Katsayısı"' +
            '                                                                class="form-control">' +
            '                                                        </div>' +
            '                                                    </div>' +
            '                                                    <div class="row">' +
            '                                                        <div class="col-md-12">' +
            '                                                            <label for="">Büküm Maliyeti:</label>' +
            '                                                            <input id="Büküm_Hesabı_Adet_İle_Büküm_Maliyeti" disabled' +
            '                                                           name="Malzeme_Büküm_Fiyatı_İnput"  Büküm_Tipi="1"     data-thousands="." data-decimal="," data-suffix=" ₺"' +
            '                                                                class="form-control " type="text"' +
            '                                                                placeholder="Büküm Maliyeti">' +
            '' +
            '                                                        </div>' +
            '                                                    </div>' +
            '                                                </div>' +
            '                                            </div>' +
            '' +
            '                                        </div>' +
            '' +
            '                                    </div>' +
            '                                    <div class="row">' +
            '                                        <div class="col-md-12">' +
            '                                            <div class="card card-secondary">' +
            '                                                <div class="card-header">' +
            '                                                    <label for="">Uzunluk / Genişliğe Göre Büküm Hesabı</label>' +
            '                                                </div>' +
            '                                                <div class="card-body">' +
            '                                                    <div class="row">' +
            '                                                        <div class="col-md-2">' +
            '                                                            <label for="">Hesap Çeşiti:</label>' +
            '                                                            <select selected_option="0" name="" id="Eninemi_Uzunluğa_Boyunamı_Select"' +
            '                                                                class="form-control">' +
            '                                                                <option value="0">Enine göre </option>' +
            '                                                                <option value="1">Boyuna göre </option>' +
            '                                                            </select>' +
            '                                                        </div>' +
            '                                                        <div class="col-md-2">' +
            '                                                            <label for="">Parça Eni:</label>' +
            '                                                            <input id="Büküm_Hesabı_Uzunluğa_Malzeme_Eni" ' +
            '                                                                data-thousands="" data-decimal="," data-suffix=" mm"' +
            '                                                                class="form-control " type="text"' +
            '                                                                placeholder="Parça Eni">' +
            '                                                        </div>' +
            '                                                        <div class="col-md-2">' +
            '                                                            <label for="">Parça Boyu:</label>' +
            '                                                            <input id="Büküm_Hesabı_Uzunluğa_Malzeme_Genişliği" ' +
            '                                                                data-thousands="" data-decimal="," data-suffix=" mm"' +
            '                                                                class="form-control " type="text"' +
            '                                                                placeholder="Parça Boyu">' +
            '                                                        </div>' +
            '                                                        <div class="col-md-6">' +
            '                                                            <label for="">Katsayı:</label>' +
            '                                                            <input id="Büküm_Hesabı_Uzunluğa_Malzeme_Katayısı"' +
            '                                                       disabled         data-thousands="" data-decimal="." data-suffix=""' +
            '                                                                class="form-control " type="text"' +
            '                                                                placeholder="Katsayı ">' +
            '                                                        </div>' +
            '                                                    </div>' +
            '                                                    <div class="row">' +
            '                                                        <div class="col-md-6">' +
            '                                                            <label for="">Büküm Zorluğu:</label>' +
            '                                                            <select name="" id="Malzeme_Büküm_Uzunluk_Zorluk_Hesabı"' +
            '                                                                class="form-control"></select>' +
            '                                                        </div>' +
            '                                                        <div class="col-md-6">' +
            '                                                            <label for="">Katsayı:</label>' +
            '                                                            <input id="Büküm_Hesabı_Uzunluğa_Malzeme_Zorluk_Katayısı"' +
            '                                                                data-thousands="" data-decimal="," data-suffix=""' +
            '                                                    disabled            class="form-control " type="text"' +
            '                                                                placeholder="Katsayı ">' +
            '                                                        </div>' +
            '                                                    </div>' +
            '                                                    <div class="row">' +
            '                                                        <div class="col-md-12">' +
            '                                                            <label for="">Büküm Maliyeti:</label>' +
            '                                                            <input id="Büküm_Hesabı_Uzunluk_İle_Büküm_Maliyeti" disabled' +
            '                                                           name="Malzeme_Büküm_Fiyatı_İnput"  Büküm_Tipi="2"     data-thousands="." data-decimal="," data-suffix=" ₺"' +
            '                                                                class="form-control " type="text"' +
            '                                                                placeholder="Büküm Maliyeti">' +
            '                                                        </div>' +
            '                                                    </div>' +
            '                                                </div>' +
            '                                            </div>' +
            '                                        </div>' +
            '                                    </div>' +
            '                                </div>' +
            '                            </div>' +
            '                        </div>' +
            '                    </div>' +
            '';


        $('#Büküm_Maliyeti_Sırası').append(variable)


        $('#Büküm_Hesabı_Malzeme_Ağırlığı_İnput').val($('#Malzeme_Parça_Firesiz_ağırlığı').maskMoney('unmasked')[0].toFixed(4))
        $('#Büküm_Hesabı_Malzeme_Ağırlığı_İnput').maskMoney({
            precision: 4
        })
        $('#Büküm_Hesabı_Malzeme_Ağırlığı_İnput').trigger('mask.maskMoney');
        //Ugun_Kilo_KatSayısı_Getir(Malzeme_Ağırlığı).katSayı.toFixed(2)


        $('#Büküm_Hesabı_Malzeme_Ağırlık_Hesabı_Katsayı').val(Ugun_Kilo_KatSayısı_Getir($('#Malzeme_Parça_Firesiz_ağırlığı').maskMoney('unmasked')[0].toFixed(4)).katSayı.toFixed(2))
        $('#Büküm_Hesabı_Malzeme_Ağırlık_Hesabı_Katsayı').maskMoney()
        $('#Büküm_Hesabı_Malzeme_Ağırlık_Hesabı_Katsayı').trigger('mask.maskMoney');






        $('#Büküm_Hesabı_Malzeme_Ağırlık_Hesabı_Katsayı').on('keyup keypress blur change', function () {
            var Result = Kilo_İle_Büküm_Maliyet_Hesapla(
                $('#Büküm_Hesabı_Malzeme_Ağırlığı_İnput').maskMoney('unmasked')[0].toFixed(2)
                , $(this).maskMoney('unmasked')[0].toFixed(2)
            ).toFixed(2)
            $('#Büküm_Hesabı_Malzeme_Ağırlık_Hesabı_Büküm_Maliyeti').val(Result)
            $('#Büküm_Hesabı_Malzeme_Ağırlık_Hesabı_Büküm_Maliyeti').maskMoney()
            $('#Büküm_Hesabı_Malzeme_Ağırlık_Hesabı_Büküm_Maliyeti').trigger('mask.maskMoney');

        })





        // $('#Büküm_Hesabı_Uzunluğa_Malzeme_Eni').linkField('#Malzeme_Eni_İnput', '#Büküm_Hesabı_Uzunluğa_Malzeme_Eni')
        //$('#Büküm_Hesabı_Uzunluğa_Malzeme_Genişliği').linkField('#Malzeme_Boyu_İnput', '#Büküm_Hesabı_Uzunluğa_Malzeme_Genişliği')






        $('#Büküm_Yeni_Adeti_İnput').maskMoney({
            precision: 0
        });
        $('#Büküm_Yeni_Adeti_İnput').trigger('mask.maskMoney');

        var Malzeme_Uzunuğuna_Göre_Katsayı_Getir = _.debounce(function () {

            var x;
            if ($('#Eninemi_Uzunluğa_Boyunamı_Select').find('option:selected').attr('value') == 0) {
                x = {
                    Uzunluk_Bas: $('#Büküm_Hesabı_Uzunluğa_Malzeme_Eni').maskMoney('unmasked')[0].toFixed(2)
                }
            }
            if ($('#Eninemi_Uzunluğa_Boyunamı_Select').find('option:selected').attr('value') == 1) {
                x = {
                    Uzunluk_Bas: $('#Büküm_Hesabı_Uzunluğa_Malzeme_Genişliği').maskMoney('unmasked')[0].toFixed(2)
                }
            }


            $.ajax({
                url: 'api/BükümYeni/Malzeme_Uzunuğuna_Göre_Katsayı_Getir',
                type: 'POST',
                async: false,
                global: false,
                dataType: "json",
                data: JSON.stringify(x),
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    console.log('Malzeme_Uzunuğuna_Göre_Katsayı_Getir')
                    console.log(data)
                    if (data != undefined) {
                        $('#Büküm_Hesabı_Uzunluğa_Malzeme_Katayısı').val(data.zorluk_Katsayısı.toFixed(2))
                        $('#Büküm_Hesabı_Uzunluğa_Malzeme_Katayısı').maskMoney()
                        $('#Büküm_Hesabı_Uzunluğa_Malzeme_Katayısı').trigger('mask.maskMoney')

                        getUzunlukZorluk(data.id)
                        $('#Büküm_Yeni_Adeti_İnput').trigger('blur')
                    }
                    else {
                        $('#Büküm_Hesabı_Uzunluğa_Malzeme_Katayısı').val("Uygun Katsayı Bulunamadı")
                        $('#Malzeme_Büküm_Uzunluk_Zorluk_Hesabı').append('<option >Uygun Zorluk Bulunamadı</option>')

                    }


                },
                error: function (xhr, status, error) {
                    if (xhr.status == 200) {

                    }
                    else {
                        Swal.fire({
                            icon: 'error',
                            title: 'Talep Esnasında Bir Hata Oluştur',
                            text: '' + xhr.status + '   ' + error.Message,
                        })
                    }

                }
                //$('#Büküm_Yeni_Adeti_İnput').trigger('blur')
            })


        }, 100); //Wait seconds after he stops




        try {

            $('#Büküm_Hesabı_Uzunluğa_Malzeme_Eni').val($('#Malzeme_Eni_İnput').maskMoney('unmasked')[0].toFixed(2))
            $('#Büküm_Hesabı_Uzunluğa_Malzeme_Eni').maskMoney()
            $('#Büküm_Hesabı_Uzunluğa_Malzeme_Eni').trigger('mask.maskMoney')
            //Malzeme_Eni_İnput
            //Büküm_Hesabı_Uzunluğa_Malzeme_Eni


            $('#Büküm_Hesabı_Uzunluğa_Malzeme_Genişliği').val($('#Malzeme_Boyu_İnput').maskMoney('unmasked')[0].toFixed(2))
            $('#Büküm_Hesabı_Uzunluğa_Malzeme_Genişliği').maskMoney()
            $('#Büküm_Hesabı_Uzunluğa_Malzeme_Genişliği').trigger('mask.maskMoney')
            //Malzeme_Boyu_İnput
            //Büküm_Hesabı_Uzunluğa_Malzeme_Genişliği
        }
        catch (err) {

        }


        Malzeme_Uzunuğuna_Göre_Katsayı_Getir()



        $.ajax({
            url: 'api/BükümYeni/Büküm_AdetHesabı_Get_All',
            type: 'POST',
            async: false,
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            success: function (data) {

                $('#Büküm_Hesabı_Adet_İle_Büküm_Zorluğu_select').empty()
                $('#Büküm_Yeni_Hesabı_Adet_İle_Büküm_Katsayısı').val(data[0].zorluk_Katsayısı.toFixed(2))


                $('#Büküm_Yeni_Hesabı_Adet_İle_Büküm_Katsayısı').maskMoney()
                $('#Büküm_Yeni_Hesabı_Adet_İle_Büküm_Katsayısı').trigger('mask.maskMoney')
                $('#Büküm_Yeni_Hesabı_Adet_İle_Büküm_Katsayısı').trigger('blur')

                for (var i = 0; i < data.length; i++) {
                    $('#Büküm_Hesabı_Adet_İle_Büküm_Zorluğu_select').append('<option Kat_Sayı="' + data[i].zorluk_Katsayısı + '" value="' + data[i].id + '">' + data[i].zorluk_Adı + '</option>')
                }

            },
            error: function (xhr, status, error) {
                if (xhr.status == 200) {

                }
                else {
                    Swal.fire({
                        icon: 'error',
                        title: 'Talep Esnasında Bir Hata Oluştur',
                        text: '' + xhr.status + '   ' + error.Message,
                    })
                }

            }
        })


        //,#Büküm_Hesabı_Uzunluğa_Malzeme_Eni,#Büküm_Hesabı_Uzunluğa_Malzeme_Genişliği,#Eninemi_Uzunluğa_Boyunamı_Select,#Büküm_Hesabı_Uzunluğa_Malzeme_Eni
        $('#Büküm_Yeni_Adeti_İnput').on('keyup keypress blur change', function () {

            var Result = Adet_İle_Büküm_Hesapla(
                $('#Büküm_Yeni_Adeti_İnput').val()
                , $('input[id=Büküm_Yeni_Hesabı_Adet_İle_Büküm_Katsayısı]').maskMoney('unmasked')[0].toFixed(2)
            );



            $('#Büküm_Hesabı_Adet_İle_Büküm_Maliyeti').val(Result.toFixed(2))
            $('#Büküm_Hesabı_Adet_İle_Büküm_Maliyeti').maskMoney()
            $('#Büküm_Hesabı_Adet_İle_Büküm_Maliyeti').trigger('mask.maskMoney')




            var rv = Uzunluk_Büküm_Maliyeti_Hesapla(

                $('#Büküm_Hesabı_Uzunluğa_Malzeme_Katayısı').maskMoney('unmasked')[0].toFixed(2),
                $('#Büküm_Hesabı_Uzunluğa_Malzeme_Zorluk_Katayısı').maskMoney('unmasked')[0].toFixed(2),
                $('#Büküm_Yeni_Adeti_İnput').val()

            )


            $('#Büküm_Hesabı_Uzunluk_İle_Büküm_Maliyeti').val(rv.toFixed(2))
            $('#Büküm_Hesabı_Uzunluk_İle_Büküm_Maliyeti').maskMoney()
            $('#Büküm_Hesabı_Uzunluk_İle_Büküm_Maliyeti').trigger('mask.maskMoney')

            $('#Büküm_Hesabı_Malzeme_Ağırlık_Hesabı_Katsayı').trigger('blur')



            // $('#Büküm_Hesabı_Malzeme_Ağırlık_Hesabı_Katsayı').trigger('blur')







        })
        //Eninemi_Uzunluğa_Boyunamı_Select

        $('#Eninemi_Uzunluğa_Boyunamı_Select').change(function () {


            Malzeme_Uzunuğuna_Göre_Katsayı_Getir()

        })



        $('#Büküm_Hesabı_Adet_İle_Büküm_Zorluğu_select').change(function () {

            $('#Büküm_Yeni_Hesabı_Adet_İle_Büküm_Katsayısı').val(parseFloat($(this).find('option:selected').attr('Kat_Sayı')).toFixed(2))
            $('#Büküm_Yeni_Hesabı_Adet_İle_Büküm_Katsayısı').maskMoney()
            $('#Büküm_Yeni_Hesabı_Adet_İle_Büküm_Katsayısı').trigger('mask.maskMoney')
            $('#Büküm_Yeni_Adeti_İnput').trigger('blur')


        })




        $('#Büküm_Hesabı_Uzunluğa_Malzeme_Eni,#Büküm_Hesabı_Uzunluğa_Malzeme_Genişliği').on('keyup keypress blur change', Malzeme_Uzunuğuna_Göre_Katsayı_Getir)


        $('#Malzeme_Büküm_Uzunluk_Zorluk_Hesabı').change(function () {
            $('#Büküm_Hesabı_Uzunluğa_Malzeme_Zorluk_Katayısı').val(parseFloat($(this).find(':selected').attr('zorluk_katsayısı')).toFixed(2))
            $('#Büküm_Hesabı_Uzunluğa_Malzeme_Zorluk_Katayısı').maskMoney()
            $('#Büküm_Hesabı_Uzunluğa_Malzeme_Zorluk_Katayısı').trigger('mask.maskMoney')
            $('#Büküm_Yeni_Adeti_İnput').trigger('change')

        })


        $('#Büküm_Hesabı_Uzunluğa_Malzeme_Katayısı,#Büküm_Hesabı_Uzunluğa_Malzeme_Zorluk_Katayısı,#Büküm_Hesabı_Uzunluğa_Malzeme_Zorluk_Katayısı').on('keyup keypress blur change', function () {





        })



        $('#Büküm_Hesabı_Uzunluğa_Malzeme_Katayısı').maskMoney()
        $('#Büküm_Hesabı_Uzunluğa_Malzeme_Zorluk_Katayısı').maskMoney()



        $('#Büküm_Hesabı_Malzeme_Ağırlık_Hesabı_Katsayı,#Büküm_Yeni_Hesabı_Adet_İle_Büküm_Katsayısı,#Büküm_Hesabı_Uzunluğa_Malzeme_Katayısı,#Büküm_Hesabı_Uzunluğa_Malzeme_Zorluk_Katayısı').on('keyup keypress blur change', function () {

            En_Büyüğü_Bul()

        })

        $('#Büküm_Hesabı_Malzeme_Ağırlık_Hesabı_Katsayı').trigger('blur')







    }

    function En_Büyüğü_Bul() {
        var Ağırlık = $('#Büküm_Hesabı_Malzeme_Ağırlık_Hesabı_Büküm_Maliyeti').maskMoney('unmasked')[0].toFixed(2)
        var Adet = $('#Büküm_Hesabı_Adet_İle_Büküm_Maliyeti').maskMoney('unmasked')[0].toFixed(2)
        var Uzunluk = $('#Büküm_Hesabı_Uzunluk_İle_Büküm_Maliyeti').maskMoney('unmasked')[0].toFixed(2)


        var arr = [parseFloat(Ağırlık), parseFloat(Adet), parseFloat(Uzunluk)];

        var max = Math.max(...arr);

        var indexes = [];

        for (let index = 0; index < arr.length; index++) {

            if (arr[index] === max) {
                indexes.push(index);
            }
        }


        if (indexes[0] == 0) {
            $('#Büküm_Hesabı_Malzeme_Ağırlık_Hesabı_Büküm_Maliyeti').attr('class', 'form-control is-valid')
            $('#Büküm_Hesabı_Malzeme_Ağırlık_Hesabı_Büküm_Maliyeti').attr('En_Büyük_Olan', '1')

        }
        else {
            $('#Büküm_Hesabı_Malzeme_Ağırlık_Hesabı_Büküm_Maliyeti').attr('class', 'form-control')
            $('#Büküm_Hesabı_Malzeme_Ağırlık_Hesabı_Büküm_Maliyeti').attr('En_Büyük_Olan', '0')
        }

        if (indexes[0] == 1) {
            $('#Büküm_Hesabı_Adet_İle_Büküm_Maliyeti').attr('class', 'form-control is-valid')
            $('#Büküm_Hesabı_Adet_İle_Büküm_Maliyeti').attr('En_Büyük_Olan', '1')
        }
        else {
            $('#Büküm_Hesabı_Adet_İle_Büküm_Maliyeti').attr('class', 'form-control')
            $('#Büküm_Hesabı_Adet_İle_Büküm_Maliyeti').attr('En_Büyük_Olan', '0')
        }

        if (indexes[0] == 2) {
            $('#Büküm_Hesabı_Uzunluk_İle_Büküm_Maliyeti').attr('class', 'form-control is-valid')
            $('#Büküm_Hesabı_Uzunluk_İle_Büküm_Maliyeti').attr('En_Büyük_Olan', '1')
        }
        else {
            $('#Büküm_Hesabı_Uzunluk_İle_Büküm_Maliyeti').attr('class', 'form-control')
            $('#Büküm_Hesabı_Uzunluk_İle_Büküm_Maliyeti').attr('En_Büyük_Olan', '0')


        }


    }



    function Uzunluk_Büküm_Maliyeti_Hesapla(Uzunluk_katsayı, Zorluk_Katsayı, Büküm_Adeti) {

        return parseFloat(Uzunluk_katsayı) * parseFloat(Zorluk_Katsayı) * parseFloat(Büküm_Adeti)
    }
    function getUzunlukZorluk(Uzunluk_Id) {
        var x = {
            id: Uzunluk_Id
        }

        $.ajax({
            url: 'api/BükümYeni/Büküm_Uzunluk_Hesabı_Zorluk_Get_By_Uzunluk_Hesabı_Id',
            type: 'POST',
            async: false,
            global: false,
            dataType: "json",
            data: JSON.stringify(x),
            contentType: "application/json; charset=utf-8",
            success: function (data) {


                //Malzeme_Büküm_Uzunluk_Zorluk_Hesabı
                $('#Malzeme_Büküm_Uzunluk_Zorluk_Hesabı').empty();
                $('#Büküm_Hesabı_Uzunluğa_Malzeme_Zorluk_Katayısı').val(data[0].zorluk_Katsayısı.toFixed(2))
                $('#Büküm_Hesabı_Uzunluğa_Malzeme_Zorluk_Katayısı').maskMoney()
                $('#Büküm_Hesabı_Uzunluğa_Malzeme_Zorluk_Katayısı').trigger('mask.maskMoney')
                if (data.length > 0) {
                    for (var i = 0; i < data.length; i++) {

                        $('#Malzeme_Büküm_Uzunluk_Zorluk_Hesabı').append('<option zorluk_Katsayısı="' + data[i].zorluk_Katsayısı + '" value="' + data[i].id + '">' + data[i].zorluk_Adı + '</option>')

                    }
                }
                else {
                    $('#Malzeme_Büküm_Uzunluk_Zorluk_Hesabı').append('<option zorluk_Katsayısı="' + data[i].zorluk_Katsayısı + '" value="' + data[i].id + '">Uygun Zorluk Bulunamadı</option>')
                }



            },
            error: function (xhr, status, error) {
                if (xhr.status == 200) {

                }
                else {
                    Swal.fire({
                        icon: 'error',
                        title: 'Talep Esnasında Bir Hata Oluştur',
                        text: '' + xhr.status + '   ' + error.Message,
                    })
                }

            }
        })

    }

    function Adet_İle_Büküm_Hesapla(Büküm_Adeti, Katsayı) {

        return parseFloat(Büküm_Adeti) * parseFloat(Katsayı)
    }
</script>