<script>
    $(document).ready(function () {

        $('#Yeni_Dıs_Operasyon_Ekle').click(function () {

            if ($(this).attr('basıldımı') == 0) {
                $(this).attr('basıldımı', "1")
                $(this).attr('readonly', "true")
                $(this).attr('style', 'background-color:#13849659;border-color:#13849659')



                var Bağlantı_Elemanı_Satır = '' +
                    '<div class="row" id="Dıs_Operasyon_Row">' +
                    '                        <div class="col-md-12">' +
                    '                            <div class="card card-info border border-info">' +
                    '                                <div class="card-header">' +
                    '                                    <label for="">Dıs Operasyon Maliyeti</label>' +
                    '                                </div>' +
                    '                                <div class="card-body">' +
                    '                                    <div class="row">' +
                    '                                        <div class="col-md-10">' +
                    '                                            <label>Lütfen Dış Operasyon Seçiniz: </label>' +
                    '                                        </div>' +
                    '                                    </div>' +
                    '                                    <div class="row">' +
                    '                                        <div class="col-md-12">' +
                    '                                            <select id="Dıs_Operasyon_Select"' +
                    '                                           son_eklenen_satır="-1"        style="width: 100% ; padding-bottom: 25px;"></select>' +
                    '                                        </div>' +

                    '                                    </div>' +
                    '                                    <div class="row" style="padding-top: 25px;">' +
                    '                                        <div class="col-md-12">' +
                    '                                            <div class="card">' +
                    '                                                <div class="card-body">' +
                    '                                                    <div id="Dıs_Operasyonlar">' +
                    '                                                      ' +
                    '                                                    </div>' +
                    '                                                </div>' +
                    '                                            </div>' +
                    '                                        </div>' +
                    '                                    </div>' +
                    '' +
                    '                                </div>' +
                    '                            </div>' +
                    '                        </div>' +
                    '                    </div>' +
                    '';

                $('#Dıs_Operasyon_Sırası').append(Bağlantı_Elemanı_Satır)



                $("#Dıs_Operasyon_Select").select2({
                    ajax: {
                        url: '/api/DısOperasyon/DısOperasyon_Get_By_text',
                        dataType: 'json',
                        type: 'POST',
                        delay: 250,
                        global: false,
                        contentType: "application/json; charset=utf-8",
                        data: function (params) {
                            var x = {
                                Operasyon_Adı: params.term
                            }
                            return JSON.stringify(x)
                        },
                        processResults: function (data, params) {


                            return {
                                results: $.map(data, function (item) {
                                    return {
                                        text: item.operasyon_Adı,
                                        id: item.id
                                    }
                                })
                            };
                        },
                        cache: true
                    },
                    minimumInputLength: 2
                })


                $('#Dıs_Operasyon_Select').change(function () {


                    $(this).attr('son_eklenen_satır', parseInt($(this).attr('son_eklenen_satır')) + 1)
                    var row_İndex = $(this).attr('son_eklenen_satır')
                    var x = {
                        Id: $('#Dıs_Operasyon_Select').find(':selected').val()
                    }

                    var Gelen_Data;

                    $.ajax({
                        url: '/api/DısOperasyon/DısOperasyon_Get_By_Id',
                        type: 'POST',
                        async: false,
                        dataType: "json",
                        data: JSON.stringify(x),
                        contentType: "application/json; charset=utf-8",
                        success: function (data) {
                            console.log(data)
                            Gelen_Data = data;



                        },
                        error: function (xhr, status, error) {
                            if (xhr.status == 200) {

                            }
                            else {
                                Swal.fire({
                                    icon: 'error',
                                    title: 'Talep Esnasında Bir Hata Oluştur',
                                    text: '' + xhr.status + '   ' + error.Message,
                                })
                            }

                        }
                    })




                    var Kaynak_Satır = '' +
                        ' <div class="row" style="padding-top: 25px;" name="Dıs_Operasyon_Row_Satır" row_Id="' + row_İndex + '" >' +
                        '                                                            <div class="col">' +
                        '                                                                <input type="text" class="form-control" data_Id="' + Gelen_Data.id + '" id="Operasyon_Adı_' + row_İndex + '"' +
                        '                                                                    placeholder="Dıs Operasyon Adı" value="' + Gelen_Data.operasyon_Adı + '" disabled>' +
                        '                                                            </div>' +
                        '                                                            <div class="col">' +
                        '                                                                <input type="text" class="form-control is-invalid"' +
                        '                                                                    placeholder="Birim Fiyatı" value="' + Gelen_Data.operasyon_Maliyeti.toFixed(2) + '"  data-thousands="." data-decimal="," data-suffix=" ₺" id="Operasyon_Maliyeti_' + row_İndex + '">' +
                        '                                                            </div>' +
                        '                                                            <div class="col">' +
                        '                                                                <input type="text" class="form-control is-invalid"' +
                        '                                                                    placeholder="Birim Adeti"   data-thousands="" data-decimal="." id="Operasyon_Adeti_' + row_İndex + '">' +
                        '                                                            </div>' +
                        '                                                            <div class="col">' +
                        '                                                                <input type="text" class="form-control "' +
                        '                                                                  data-thousands="." disabled data-decimal="," data-suffix=" ₺"   placeholder="Toplam Fiyat" id="Operasyon_Toplam_Fiyat_' + row_İndex + '">' +
                        '                                                            </div>' +
                        '                                                            <div class="col-md-1">' +
                        '                                                                <button type="button" id="Dıs_Operasyon_Satır_Sil' + row_İndex + '"' +
                        '                                                                    class="btn btn-danger btn-block">' +
                        '                                                                    <i class="fas fa-trash"></i>' +
                        '                                                                    Sil' +
                        '                                                                </button>' +
                        '                                                            </div>' +
                        '                                                        </div>' +
                        '';
                    $('#Dıs_Operasyonlar').append(Kaynak_Satır)



                    $("#Operasyon_Maliyeti_" + row_İndex).inputmask({ 'alias': 'currency', "suffix": " ₺", "prefix": "", rightAlign: false, allowMinus: false, digits: 2 });

                    // $('#Operasyon_Maliyeti_' + row_İndex).maskMoney();
                    //$('#Operasyon_Maliyeti_' + row_İndex).trigger('mask.maskMoney');


                    //$("#Operasyon_Adeti_" + row_İndex).inputmask({ 'alias': 'currency', "suffix": " ", "prefix": "", rightAlign: false, allowMinus: false, digits: 0 });

                    $("#Operasyon_Adeti_" + row_İndex).inputmask({ 'alias': 'currency', "suffix": " " + Gelen_Data.birim.birim_Kısa_ad, "prefix": "", rightAlign: false, allowMinus: false, digits: 2 });

                    //$('#Operasyon_Adeti_' + row_İndex).maskMoney();
                    //$('#Operasyon_Adeti_' + row_İndex).trigger('mask.maskMoney');


                    $('#Operasyon_Toplam_Fiyat_' + row_İndex).maskMoney();
                    $('#Operasyon_Toplam_Fiyat_' + row_İndex).trigger('mask.maskMoney');
                    //Kaynak_Birim_Adeti_
                    //Kaynak_Toplam_Fiyat_
                    $('#Dıs_Operasyon_Satır_Sil' + row_İndex).click(function () {
                        $(this).parent().parent().remove()
                    })




                    $('#Operasyon_Adeti_' + row_İndex).on('keyup keypress blur change', function () {
                        console.log($(this).val())
                        if (
                            $(this).val() == "0.00 " + Gelen_Data.birim.birim_Kısa_ad
                            ||
                            $(this).val() == 0.00
                            ||
                            $(this).val() == ""
                            ||
                            $(this).val() == undefined
                            ||
                            $(this).val() == "undefined"


                        ) {
                            $(this).attr('class', 'form-control is-invalid')
                        }
                        else {
                            $(this).attr('class', 'form-control')
                        }



                    })

                    console.log($('#Operasyon_Maliyeti_' + row_İndex).val())

                    if (
                        $('#Operasyon_Maliyeti_' + row_İndex).val() == "0.00 ₺"
                        ||
                        $('#Operasyon_Maliyeti_' + row_İndex).val() == 0.00
                        ||
                        $('#Operasyon_Maliyeti_' + row_İndex).val() == ""
                        ||
                        $('#Operasyon_Maliyeti_' + row_İndex).val() == undefined
                        ||
                        $('#Operasyon_Maliyeti_' + row_İndex).val() == "undefined"


                    ) {
                        $('#Operasyon_Maliyeti_' + row_İndex).attr('class', 'form-control is-invalid')
                    }
                    else {
                        $('#Operasyon_Maliyeti_' + row_İndex).attr('class', 'form-control')
                    }


                    $('#Operasyon_Maliyeti_' + row_İndex).on('keyup keypress blur change', function () {

                        if (
                            $(this).val() == "0.00 ₺"
                            ||
                            $(this).val() == 0.00
                            ||
                            $(this).val() == ""
                            ||
                            $(this).val() == undefined
                            ||
                            $(this).val() == "undefined"


                        ) {
                            $(this).attr('class', 'form-control is-invalid')
                        }
                        else {
                            $(this).attr('class', 'form-control')
                        }



                    })




                    $('#Operasyon_Adeti_' + row_İndex + ',#Operasyon_Maliyeti_' + row_İndex).on('keyup keypress blur change', function () {

                        var rv = Toplam_Fiyat_Hesapla($('#Operasyon_Adeti_' + row_İndex).maskMoney('unmasked')[0].toFixed(2)

                            , $('#Operasyon_Maliyeti_' + row_İndex).maskMoney('unmasked')[0].toFixed(2))

                        console.log(rv)
                        $('#Operasyon_Toplam_Fiyat_' + row_İndex).val(rv.toFixed(2));
                        $('#Operasyon_Toplam_Fiyat_' + row_İndex).maskMoney();
                        $('#Operasyon_Toplam_Fiyat_' + row_İndex).trigger('mask.maskMoney');



                    })



                })




            }
            else {

                $(this).attr('basıldımı', "0")
                $(this).attr('readonly', "false")
                $(this).attr('style', 'background-color:#17a2b8;border-color:#17a2b8')
                $('#Dıs_Operasyon_Row').remove()





            }


        })



    })
</script>
