<script>
    $(document).ready(function () {

        //Maliyetler



        $('#Yeni_Kaynak_Ekle').click(function () {
            if ($(this).attr('basıldımı') == 0) {
                $(this).attr('basıldımı', "1")
                $(this).attr('readonly', "true")
                $(this).attr('style', 'background-color:#28a74585;border-color:#28a74585')
                var variable = '' +
                    '<div class="row" id="Kaynak_Row">' +
                    '                        <div class="col-md-12">' +
                    '                            <div class="card card-success border border-success">' +
                    '                                <div class="card-header">' +
                    '                                    <label for="">Kaynak Maliyeti</label>' +
                    '                                </div>' +
                    '                                <div class="card-body">' +
                    '                                    <div class="row">' +
                    '                                        <div class="col-md-10">' +
                    '                                            <label>Lütfen Kaynak Türü Seçiniz: </label>' +
                    '                                        </div>' +
                    '                                    </div>' +
                    '                                    <div class="row">' +
                    '                                        <div class="col-md-12">' +
                    '                                            <select son_eklenen_satır="-1" id="Kaynak_Select"' +
                    '                                                style="width: 100% ; padding-bottom: 25px;"></select>' +
                    '                                        </div>' +

                    '                                    </div>' +
                    '                                    <div class="row" style="padding-top: 25px;">' +
                    '                                        <div class="col-md-12">' +
                    '                                            <div class="card">' +
                    '                                                <div class="card-body">' +
                    '                                                    <div id="Kaynaklar">' +
                    '                                                      ' +
                    '                                                    </div>' +
                    '                                                </div>' +
                    '                                            </div>' +
                    '                                        </div>' +
                    '                                    </div>' +
                    '                                </div>' +
                    '                            </div>' +
                    '                        </div>' +
                    '                    </div>' +
                    '';
                $('#Kaynak_Sırası').append(variable)

                $('#Kaynak_Dosya_Ekle').click(function(){
                    $('#Upload_File_Modal').modal('show')
                })


                $("#Kaynak_Select").select2({
                    ajax: {
                        url: '/api/Kaynak/Kaynak_Get_By_Text',
                        dataType: 'json',
                        type: 'POST',
                        delay: 250,
                        global: false,
                        contentType: "application/json; charset=utf-8",
                        data: function (params) {
                            var x = {
                                Kaynak_Türü: params.term
                            }
                            return JSON.stringify(x)
                        },
                        processResults: function (data, params) {


                            return {
                                results: $.map(data, function (item) {
                                    return {
                                        text: item.kaynak_Türü,
                                        id: item.id
                                    }
                                })
                            };
                        },
                        cache: true
                    },
                    minimumInputLength: 2
                })

                $("#Kaynak_Select").change(function () {
                    $(this).attr('son_eklenen_satır', parseInt($(this).attr('son_eklenen_satır')) + 1)
                    var row_İndex = $(this).attr('son_eklenen_satır')
                    var x = {
                        Id: $('#Kaynak_Select').find(':selected').val()
                    }

                    var Gelen_Data;

                    $.ajax({
                        url: 'api/Kaynak/Kaynak_Get_By_Id',
                        type: 'POST',
                        async: false,
                        dataType: "json",
                        data: JSON.stringify(x),
                        contentType: "application/json; charset=utf-8",
                        success: function (data) {
                            console.log(data)
                            Gelen_Data = data;



                        },
                        error: function (xhr, status, error) {
                            if (xhr.status == 200) {

                            }
                            else {
                                Swal.fire({
                                    icon: 'error',
                                    title: 'Talep Esnasında Bir Hata Oluştur',
                                    text: '' + xhr.status + '   ' + error.Message,
                                })
                            }

                        }
                    })


                    var Kaynak_Satır = '' +
                        ' <div class="row" style="padding-top: 25px;" name="Kaynak_Row" row_Id="' + row_İndex + '" >' +
                        '                                                            <div class="col-md-3">' +
                        '                                                                <input type="text" class="form-control"  id="Kaynak_Türü_' + row_İndex + '"' +
                        '                                                                    placeholder="Kaynak Türü" value="' + Gelen_Data.kaynak_Türü + '" disabled>' +
                        '                                                            </div>' +
                        '                                                            <div class="col-md-2">' +
                        '                                                                <input type="text" class="form-control"' +
                        '                                                                    placeholder="Birim" id="Kaynak_Birim_' + row_İndex + '" value="' + Gelen_Data.birim.birim_Kısa_ad + '" disabled>' +
                        '                                                            </div>' +
                        '                                                            <div class="col-md-2">' +
                        '                                                                <input type="text" class="form-control"' +
                        '                                                                    placeholder="Birim Fiyatı" value="' + Gelen_Data.maliyet.toFixed(2) + '"  data-thousands="." data-decimal="," data-suffix=" ₺" id="Kaynak_Birim_Fiyat_' + row_İndex + '">' +
                        '                                                            </div>' +
                        '                                                            <div class="col-md-2">' +
                        '                                                                <input type="text" class="form-control"' +
                        '                                                                    placeholder="Birim Adeti"   data-thousands="" data-decimal="." data-suffix=" ' + Gelen_Data.birim.birim_Kısa_ad + '" id="Kaynak_Birim_Adeti_' + row_İndex + '">' +
                        '                                                            </div>' +
                        '                                                            <div class="col-md-2">' +
                        '                                                                <input type="text" class="form-control"' +
                        '                                                                  data-thousands="." disabled data-decimal="," data-suffix=" ₺"   placeholder="Toplam Fiyat" id="Kaynak_Toplam_Fiyat_' + row_İndex + '">' +
                        '                                                            </div>' +
                        '                                                            <div class="col-md-1">' +
                        '                                                                <button type="button" id="Kaynak_Satır_Sil_' + row_İndex + '"' +
                        '                                                                    class="btn btn-danger btn-block">' +
                        '                                                                    <i class="fas fa-trash"></i>' +
                        '                                                                    Sil' +
                        '                                                                </button>' +
                        '                                                            </div>' +
                        '                                                        </div>' +
                        '';
                    $('#Kaynaklar').append(Kaynak_Satır)

                    $('#Kaynak_Birim_Fiyat_' + row_İndex).maskMoney();
                    $('#Kaynak_Birim_Fiyat_' + row_İndex).trigger('mask.maskMoney');

                    $('#Kaynak_Toplam_Fiyat_' + row_İndex).maskMoney();
                    $('#Kaynak_Toplam_Fiyat_' + row_İndex).trigger('mask.maskMoney');


                    $('#Kaynak_Birim_Adeti_' + row_İndex).maskMoney();
                    $('#Kaynak_Birim_Adeti_' + row_İndex).trigger('mask.maskMoney');
                    //Kaynak_Birim_Adeti_
                    //Kaynak_Toplam_Fiyat_
                    $('#Kaynak_Satır_Sil_' + row_İndex).click(function () {
                        $(this).parent().parent().remove()
                    })



                    $('#Kaynak_Birim_Adeti_' + row_İndex + ',#Kaynak_Birim_Fiyat_' + row_İndex).on('keyup keypress blur change', function () {


                        var rv = Toplam_Fiyat_Hesapla($('#Kaynak_Birim_Fiyat_' + row_İndex).maskMoney('unmasked')[0].toFixed(2)

                            , $('#Kaynak_Birim_Adeti_' + row_İndex).maskMoney('unmasked')[0].toFixed(2))

                        $('#Kaynak_Toplam_Fiyat_' + row_İndex).val(rv.toFixed(2));
                        $('#Kaynak_Toplam_Fiyat_' + row_İndex).maskMoney();
                        $('#Kaynak_Toplam_Fiyat_' + row_İndex).trigger('mask.maskMoney');



                    })






                })




            }
            else {
                $(this).attr('basıldımı', "0")
                $(this).attr('readonly', "false")
                $(this).attr('style', 'background-color:#28a745;border-color:#28a745')

                $('#Kaynak_Row').remove()

            }




        })


    })

    function Toplam_Fiyat_Hesapla(Birim_Fiyat, Adet) {
        return parseFloat(Birim_Fiyat) * parseFloat(Adet)
    }
</script>
